@font-face {
    font-family: 'Sorren';
    src: url('fonts/Sorren-Black.eot');
    src: url('fonts/Sorren-Black.eot?#iefix') format('embedded-opentype'),
        url('fonts/Sorren-Black.woff2') format('woff2'),
        url('fonts/Sorren-Black.woff') format('woff'),
        url('fonts/Sorren-Black.ttf') format('truetype'),
        url('fonts/Sorren-Black.svg#Sorren-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sorren';
    src: url('fonts/Sorren-Semibold.eot');
    src: url('fonts/Sorren-Semibold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Sorren-Semibold.woff2') format('woff2'),
        url('fonts/Sorren-Semibold.woff') format('woff'),
        url('fonts/Sorren-Semibold.ttf') format('truetype'),
        url('fonts/Sorren-Semibold.svg#Sorren-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sorren';
    src: url('fonts/Sorren-Medium.eot');
    src: url('fonts/Sorren-Medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/Sorren-Medium.woff2') format('woff2'),
        url('fonts/Sorren-Medium.woff') format('woff'),
        url('fonts/Sorren-Medium.ttf') format('truetype'),
        url('fonts/Sorren-Medium.svg#Sorren-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sorren';
    src: url('fonts/Sorren-Bold.eot');
    src: url('fonts/Sorren-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Sorren-Bold.woff2') format('woff2'),
        url('fonts/Sorren-Bold.woff') format('woff'),
        url('fonts/Sorren-Bold.ttf') format('truetype'),
        url('fonts/Sorren-Bold.svg#Sorren-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}



body {
    width: 1080px;
    height: 1942px;
margin: -22px 0 0 0;
padding: 0;
    /* Change back to this and remove text-shadow & stroke*/
p {
  color: #581d0f;
}
    text-shadow: 0px 0px 4px #000000;
    -webkit-appearance: none;
color: #ffffff;
text-align: center;
font-family: Sorren;
}
.cast, .castblock{
    width: 100%;
    font-size: 20px;
}
.castFront{
    width: 100%;
    font-size: 30px;
    flex-wrap: wrap;
}
.castFront .character {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
}
.castFront span {
    font-weight: 900;
}
.castblock {
    margin-top: 20px;
}
.cast .character {
    width: calc(50% - 10px);
    display: inline-block;
    text-align: right;
    padding-right: 10px;
    text-transform: uppercase;
    font-weight: 900;
}
.cast .person {
    width: calc(50% - 10px);
    display: inline-block;
    text-align: left;
    padding-left: 10px;
}
.castblock .character {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
}
.castblock .person {
    width: 100%;
    text-align: center;
}
.container {
    width: 501px;
    height: 945px;
    background-image: url(XmasNEW2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
    padding: 20px;
    position: absolute;
    transform: scale(2) translate(25%, 25%);
}
h1 {
    text-transform: uppercase;
    font-size: 35px;
    margin-top: 24px;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
}
h2 {
    text-transform: uppercase;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 0;
    width: 100%;
}
.holder {
    width: 100%;
    height: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.logo {
    margin-top: 200px;
    width: 100%;
}
.cover, .covers {display: block!important;}
.slide{
    position: absolute;
    top: 20px;
    left: 20px;
    width: 501px;
    height: 910px;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
.slide .right, .slide .left {
width: 48%;
}
.slide .right {
    text-align: right;
    display: inline-block;
    margin-left: 1%;
    vertical-align: top;

}
.slide .left {
    text-align: left;
    margin-right: 1%;
    display: inline-block;
    vertical-align: top;
}
.tech{
    width: 100%;
    font-size: 17px;
}
.department {
    margin-bottom: 20px;
}
.tech .role {
    display: inline-block;
    font-weight: 900;
    margin-right: 2px;
}
.tech .person {
    display: inline-block;
}
.visible {
    opacity: 1;
}
